div.info {
    text-align: center;
    display: inline-block;
}

.ing-img {
    max-width: 400px;
    border-radius: 25%;
}

div.nutrition li {
    padding: 19px;
    list-style-type: none;
}

div.nutrition li strong {
    font-weight: bold;
    color:darkslategray;
}

.bar {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.health-label {
    list-style-type: none;
    color: darkslategray;
    background-color: #51e263;
    border: 1px solid #51e263;
    border-radius: 10px;
}
