.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.pagination-container .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 0;
}

.pagination-container .pagination button {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
  background-color: #048b4c;
  border-color: #048b4c;
  transition: all 0.3s ease-in-out;
}

.pagination-container .pagination button:hover {
  background-color: #51e263;
  border-color: #51e263;
}

.pagination-container .pagination button:active,
.pagination-container .pagination button:focus {
  outline: none;
  box-shadow: none;
}

.pagination-container .pagination button.active {
  background-color: #51e263;
  border-color: #51e263;
}

.pagination-container .pagination .ellipsis {
  margin: 0 5px;
  color: #048b4c;
  font-size: 18px;
  font-weight: bold;
}

.item .page-link {
  background-color: #048b4c;
  border-color: darkslategray;
  color: #fff;
}

.item .page-link:hover {
  background-color: #51e263;
  border-color: darkslategray;
  color: #fff;
}

.form-group {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.form-group label {
  margin-right: 10px;
  margin-left: 10px;
}

.form-group input[type="number"] {
  width: 70px;
  margin-left: 10px;
}

.form-group button {
  margin-left: 10px;
  background-color: #048b4c;
  border-color: #048b4c;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
}

.form-group button:hover {
  background-color: #51e263;
  border-color: #51e263;
}

.form-group button:active,
.form-group button:focus {
  outline: none;
  box-shadow: none;
}
