div.info {
    text-align: center;
    display: inline-block;
}

.rec-img {
    max-width: 400px;
    border-radius: 25%;
}

.stats li {
    padding: 19px;
    list-style-type: none;
}

.stats li strong {
    font-weight: bold;
    color:darkslategray;
}