.carousel-img {
    border-radius: 10px;
    object-fit: cover;
    height: 400px;
    width: 700px;
  }

  .carousel {
    border-radius: 10px;
  }

  .carousel-inner {
    border-radius: 0 10px 10px 0;
  }

  .carousel-item {
    border-radius: 10px;
  }

  div.info {
    text-align: center;
    display: inline-block;
  }

.restaurant-details-ul li {
  padding: 19px;
  list-style-type: none;
}

.restaurant-details-ul li strong {
    font-weight: bold;
    color:darkslategray;
  }

.links .btn-links {
    margin-top: 50px;
    margin-bottom: 75px;
    border-radius: 5px;
    background-color: #048b4c;
    border-color: #048b4c;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
  }
  
.links .btn-links:hover {
    background-color: #51e263;
    border-color: #51e263;
  }

.links .btn-links:active {
    background-color: #51e263;
    border-color: #51e263;
}
  