.results-card {
  align-items: center;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.results-card:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.results-card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.results-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

.results-card-list {
  list-style: none;
  padding-inline-start: 0px;
  margin-bottom: 10px;
}

.results-card-list li {
  margin-bottom: 5px;
  word-wrap: break-word;
}

.results-card-list li strong {
  font-weight: bold;
  color:darkslategray;
}

.results-card .btn-results-card {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #048b4c;
  border-color: #048b4c;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.results-card .btn-results-card:hover {
  background-color: #51e263;
  border-color: #51e263;
}


